absl-py==0.8.1
astor==0.8.0
six==1.13.0
certifi==2019.9.11
more-itertools==7.2.0
jaraco.functools==2.0
cheroot==8.2.1
cycler==0.10.0
dlib==19.18.0
future==0.18.2
gast==0.3.2
google-pasta==0.1.8
grpcio==1.25.0
numpy==1.16.4
h5py==2.10.0
imutils==0.5.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.1.1
python-dateutil==2.8.1
pyparsing==2.4.5
matplotlib==3.1.1
mtcnn==0.0.9
protobuf==3.10.0
mysql-connector-python==8.0.17
opencv-python==4.1.1.26
pytz==2019.3
pandas==0.24.2
pkginfo==1.5.0.1
psutil==5.6.6
pydub==0.23.1
urllib3==1.25.7
python-telegram-bot==5.3.0
PyYAML==4.2b1
scipy==1.3.2
SpeechRecognition==3.8.1
SQLAlchemy==1.3.10
Werkzeug==0.16.0
setuptools==47.3.1
tensorflow==1.14.0
termcolor==1.1.0
tensorflow-estimator==1.14.0
wrapt==1.11.2
utils==0.9.0
web.py==0.51